.controller-wrapper {
  text-align: center;
}

.controller {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
