.tile {
  /*box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);*/
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  width: 5%;
  height: 100%;
  display: inline-flex;
}
